.header {
  width: 750px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.instagram,
.linkedin,
.twitter, 
.message {
  width: 200px;
  height: 200px;
  padding-left: 20px;
}